@import "tailwindcss";
  

*{
  font-family: 'Outfit';
}

.dark{
 background-color: rgb(3, 29, 0);
 color: white;
}
.lightHover{
  background-color: #fcf4ff;
   color: black;
}
.darkHover{
  background-color: #2a004a;
}

.darkTheme{
  background-color: #11001F;
}
.col{
  color: black;
}